@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Basics MVC Project: Öz Neredekal</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Hotel" asp-action="Index">Show Hotels</a>
    </p>
</div>
